<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>ShakeCast</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/sc_logo.png">
<link rel="stylesheet" href="styles.bf0a35bad39ad34f.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.bf0a35bad39ad34f.css"></noscript></head>
<body>
  <app-root></app-root>
<script src="runtime.4d54deeff87b23f6.js" type="module"></script><script src="polyfills.4362481fb0c2f832.js" type="module"></script><script src="main.e3874305431af964.js" type="module"></script>

</body></html>