<!doctype html>
<html lang="en" data-critters-container>
<head>
  <meta charset="utf-8">
  <title>ShakeCast</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/sc_logo.png">
<link rel="stylesheet" href="styles.bf0a35bad39ad34f.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.bf0a35bad39ad34f.css"></noscript></head>
<body>
  <app-root></app-root>
<script src="runtime.6912412da9275726.js" type="module"></script><script src="polyfills.4f15df1d76eabd31.js" type="module"></script><script src="main.cdbfb5e327190265.js" type="module"></script></body>
</html>
