<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>ShakeCast</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/sc_logo.png">
<link rel="stylesheet" href="styles.6659da065ab12634.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.6659da065ab12634.css"></noscript></head>
<body>
  <app-root></app-root>
<script src="runtime.c13b03f2f82ccb51.js" type="module"></script><script src="polyfills.a62a2d64bef22966.js" type="module"></script><script src="main.127522f1fac98869.js" type="module"></script>

</body></html>